In [1]:
import numpy as np
import pandas as pd
import os
from config import get_cfg_defaults

config = get_cfg_defaults()
config.freeze()

## Create submission file

In [2]:
sub = pd.read_csv(os.path.join(config.DIRS.DATA, 'test.csv'))
sub = sub.copy()

In [3]:
preds = np.load(os.path.join(config.DIRS.OUTPUTS, 'test_exp0_fold0.npy'))

In [4]:
sub['label'] = preds
sub

                     id  label
0         2303_bird.png      2
1         2837_ship.png      8
2         5485_ship.png      8
3     66_automobile.png      1
4          1773_dog.png      5
...                 ...    ...
9995       1775_cat.png      3
9996        88_ship.png      8
9997       909_ship.png      1
9998      2595_deer.png      4
9999  7196_airplane.png      0

[10000 rows x 2 columns]

## Evaluate on Testset

In [5]:
test_df = pd.read_csv(os.path.join(config.DIRS.DATA, 'test.csv'))

In [6]:
(sub['label'] == test_df['label']).mean()

0.8526